USERNAME="local-username"
PASSWORD="local-password"
BASEURL="https://unifi.yourdomain.com"
SITE="your_short_site_id"
AP_GUID="xxxxxxxxxxxxxxxxxxxxxxxx"
#note that AP identifier is a GUID, not the MAC.  will change upon re-adoption.  get with FIXME $baseurl/api/s/$site/stat/device | jq '.data[] | {name: .name, mac: .mac, id: ._id}'
#_id is the param we need here.